<div class="container pt-3">
    <%= form_with(model: @user, local: true) do |form| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="field">
        <%= form.label :email %>
        <%= form.email_field :email, style: 'width: 70%' %>
    </div>

    <h3>Availability</h3>
    <% days_of_week = %w[monday tuesday wednesday thursday friday saturday sunday] %>
    <% days_of_week.each do |day| %>
        <div class="field">
        <%= form.label "#{day}_start", "#{day.capitalize} Start Time" %>
        <%= form.time_field "#{day}[start]", value: @user.availability.dig(day, 'start') %>
        <%= form.label "#{day}_end", "#{day.capitalize} End Time" %>
        <%= form.time_field "#{day}[end]", value: @user.availability.dig(day, 'end') %>
        </div>
    <% end %>

    <div class="actions">
        <%= form.submit %>
    </div>
    <% end %>
</div>